<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script type="text/javascript">
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
  </script>
  <script type="text/javascript" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>
<body>
  <header>
    <h1>Catherine Fontaine</h1>
    <!-- Hamburger menu button -->
    <div class="hamburger" onclick="toggleMenu()">☰</div>
  </header>
  <div class="main-content">
  <!-- Sidebar navigation -->
    <div class="sidebar" id="sidebar">
      <ul>
        {% for item in site.data.sidebar[page.lang].navigation %}
          <li><a href="{{ item.url }}">{{ item.name }}</a></li>
        {% endfor %}
      </ul>
      <div class="language-switcher">
        <a href="/en/" class="language-option">English</a> |
        <a href="/fr/" class="language-option">Français</a>
      </div>
    </div>
  
    <div class="content">
      {{ content }}
    </div>
  
    <script>
      function toggleMenu() {
        const sidebar = document.getElementById('sidebar');
        sidebar.classList.toggle('show');
      }
    </script>
  </div>
  <footer>
    <p id="last-updated"></p>
  </footer>

  <script>
    const lastUpdatedDate = new Date(document.lastModified); // Gets the last modified date
    const options = { year: 'numeric', month: 'long' }; // Formats as "Month Year"
    document.getElementById('last-updated').innerHTML = 
      `<span class="copyright-symbol">&copy;</span> ${lastUpdatedDate.toLocaleDateString('en-US', options)} Catherine Fontaine`;
  </script>
</body>
</html>
