<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <img src="header.png" alt="Header Image" class="header-image">
    <div class="header-name">
      Catherine Fontaine
    </div>
  </header>

  <!-- Main content area with sidebar -->
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/resume.pdf" target="_blank">Resume</a></li>
        <li><a href="{{ site.baseurl }}/researchexperiences">Research experiences</a></li>
        <li><a href="{{ site.baseurl }}/presentations">Presentations</a></li>
        <li><a href="{{ site.baseurl }}/otherexperiences">Other experiences</a></li>
      </ul>
    </div>

    <div class="content">
      {{ content }}
    </div>
  </div>

  <footer>
    <p>&copy; {{ site.time | date: "%Y" }}</p>
  </footer>
</body>
</html>
