<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script type="text/javascript">
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
  </script>
  <script type="text/javascript" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
  </script>
</head>
<body>
  <header>
    <h1>Catherine Fontaine</h1>
    <!-- Hamburger menu button -->
    <div class="hamburger" onclick="toggleMenu()">☰</div>
  </header>

  <!-- Sidebar navigation -->
  <div class="sidebar" id="sidebar">
    <ul>
      <li><a href="{{ site.baseurl }}/">Home</a></li>
      <li><a href="{{ site.baseurl }}/resume.pdf" target="_blank">Resume</a></li>
      <li><a href="{{ site.baseurl }}/researchexperiences">Research experiences</a></li>
      <li><a href="{{ site.baseurl }}/presentations">Presentations</a></li>
      <li><a href="{{ site.baseurl }}/otherexperiences">Other experiences</a></li>
    </ul>
  </div>

  <div class="content">
    {{ content }}
  </div>

  <script>
    function toggleMenu() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('show');
    }
  </script>
  <footer>
    <p id="last-updated"></p>
  </footer>

  <script>
    const lastUpdatedDate = new Date(document.lastModified); // Gets the last modified date
    const options = { year: 'numeric', month: 'long' }; // Formats as "Month Year"
    document.getElementById('last-updated').textContent = 
      `&copy ${lastUpdatedDate.toLocaleDateString('en-US', options)} Catherine Fontaine`;
  </script>
</body>
</html>
